<h1>Add a new item</h1>

<form action ="/backdoor" method="post">
<label for="link_url_field">Link URL </label>
<input id="link_url_field" name = "link_url">
<div>
<label for="link_desc_field">Link Description </label>
<input id="link_desc_field" name = "link_desc">
</div>
<div>
<label for="link_img_url">Thumbnail URL </label>
<input id="link_img_url" name = "image_url">
</div>
<button>Create item</button>
